:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-text-subtle: #555;
  --color-text-disabled: #555;
  --color-text-link: #516C97;

  --header-bg: transparent;
  --header-title: #304669;
  --header-icon: #000;
  --header-icon-off: #444;

  --search-bg-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --search-text: #555;

  --h1-bg: #516C97;
  --h1-bg-gradient: linear-gradient(to bottom, #7F97B9, #516C97);
  --h1-text: #fff;
  --h1-text-shadow: 0 1px 1px rgba(0, 0, 0, .7);

  --li-hover-bg: #e0e0e0;
  --li-hover-shadow: 0 0 15px rgba(0, 0, 0, .2) inset;
  --li-hover-text-shadow: 0 1px 0 white;
  --disabled-bg: #eee;
  --disabled-icon-opacity: 0.3;

  --options-legend-border: #304669;
  --options-legend-text: #516C97;
  --save-result-text: #304669;
  --profiles-info-bg: #aaa;
  --profiles-active-bg: #ddd;
  --profiles-toggle-bg: #ddd;
  --profiles-input-border: #bbb;
  --help-box-bg: #FFD478;

  --input-bg: var(--color-bg);
  --input-text: var(--color-text);
  --input-border: var(--profiles-input-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #333;
    --color-text: #ccc;
    --color-text-subtle: #777;
    --color-text-disabled: #777;
    --color-text-link: #99b1ff;

    --header-bg: transparent;
    --header-title: #ccc;
    --header-icon: #eee;
    --header-icon-off: #aaa;

    --search-bg-gradient: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    --search-text: #ccc;

    --h1-bg: #516C97;
    --h1-bg-gradient: linear-gradient(to bottom, #7F97B9, #516C97);
    --h1-text: #ccc;
    --h1-text-shadow: 0 1px 1px rgba(0, 0, 0, .7);

    --li-hover-bg: #555;
    --li-hover-shadow: 0 0 15px rgba(0, 0, 0, .2) inset;
    --li-hover-text-shadow: 0 1px 0 black;
    --disabled-bg: transparent;
    --disabled-icon-opacity: 0.3;

    --options-legend-border: #304669;
    --options-legend-text: #ccc;
    --save-result-text: #ccc;
    --profiles-info-bg: #777;
    --profiles-active-bg: #777;
    --profiles-toggle-bg: #777;
    --profiles-input-border: #999;
    --help-box-bg: #516C97;

    --input-bg: #777;
    --input-text: white;
    --input-border: #999;
  }
}